<section class="container my-4">
  <div class="mx-auto justify-content-center d-flex pt-2 pb-4">
    <button class="btn btn-outline-info mx-3" (click)="getDogs()">dogs</button>
    <button class="btn btn-outline-info mx-3" (click)="getCats()">cats</button>
    <button class="btn btn-outline-info mx-3" (click)="getBirds()">birds</button>
  </div>
  <div class="row ">
    <div class="col-md-3" *ngFor="let pet of pet">
      <div class="card text-center my-4 " style="width: 19rem;">
        <div style="height: 200px; object-fit: cover;">
          <img [src]="pet?.url" height="100%" width="100%" class="card-img-top" alt="...">
        </div>
        <div class="card-body bg-light">
          <h4 class="pt-2 text-capitalize fs-5">{{ pet?.name }}</h4>
          <p class="text-p py-1" style="height: 70px;">{{ pet?.description }}
          </p>
          <h4 class=" pb-1 text-p">
            Life span: <span class="text-green">{{ pet?.life_span }}</span>
          </h4>
          <!-- <a routerLink="/login" class="btn-green-solid mx-auto">For Details</a> -->
        </div>


      </div>
    </div>
  </div>
</section>