<div class="container py-5">
  <div class="row">

    <div class="col-md-8">
      <div class="card mb-3 w-100 border-0 py-5 px-3">
        <div class="container">
          <div class="row g-0">
            <div class="col-md-4">
              <figure>
                <img [src]="keeperImage" class="img-fluid w-100" style="height: 260px;" alt="...">
              </figure>
            </div>
            <div class="col-md-8">
              <div class="card-body px-4">
                <div class="d-flex justify-content-between">
                  <small class="text-secondary text-uppercase fw-semibold">Keeper</small>
                  <div class="mb-2">
                    <i class="fas fa-star me-1" [ngClass]="getStarClass(1)" (mouseover)="hoverStar(1)"
                      (mouseout)="unhoverStar()" (click)="rateStar(1)"></i>
                    <i class="fas fa-star me-1" [ngClass]="getStarClass(2)" (mouseover)="hoverStar(2)"
                      (mouseout)="unhoverStar()" (click)="rateStar(2)"></i>
                    <i class="fas fa-star me-1" [ngClass]="getStarClass(3)" (mouseover)="hoverStar(3)"
                      (mouseout)="unhoverStar()" (click)="rateStar(3)"></i>
                    <i class="fas fa-star me-1" [ngClass]="getStarClass(4)" (mouseover)="hoverStar(4)"
                      (mouseout)="unhoverStar()" (click)="rateStar(4)"></i>
                    <i class="fas fa-star me-1" [ngClass]="getStarClass(5)" (mouseover)="hoverStar(5)"
                      (mouseout)="unhoverStar()" (click)="rateStar(5)"></i>
                  </div>

                </div>
                <h1 class="card-title text-capitalize fs-2 mt-1 primary_color">
                  {{ keeperData?.owner_id?.user_id?.firstName }} {{ keeperData?.owner_id?.user_id?.lastName }}
                </h1>

                <div class="mb-2">
                  <i class="fas fa-star me-1" [ngClass]="getStaticStarClass(1)"></i>
                  <i class="fas fa-star me-1" [ngClass]="getStaticStarClass(2)"></i>
                  <i class="fas fa-star me-1" [ngClass]="getStaticStarClass(3)"></i>
                  <i class="fas fa-star me-1" [ngClass]="getStaticStarClass(4)"></i>
                  <i class="fas fa-star me-1" [ngClass]="getStaticStarClass(5)"></i>
                  <small class="text-muted fw-semibold">({{ keeperData?.numberOfReviews }})</small>
                </div>

                <div class="card-text">
                  <ul class="list-group">
                    <li class="list-group-item border-0 px-0">
                      <h6 class="fs-6 mb-1 text-green">Email: <span class="text-p">
                          {{ keeperData?.owner_id?.user_id?.email}}</span>
                      </h6>
                    </li>
                    <li class="list-group-item border-0 px-0">
                      <h6 class="fs-6 mb-1 text-green">Address: <span class="text-p">{{ keeperData?.address }}</span>
                      </h6>
                    </li>
                    <li class="list-group-item border-0 px-0">
                      <h6 class="fs-6 mb-1 text-green">Phone: <span class="text-p">
                          <a class="text-p" [href]="'tel:+20' + keeperData?.owner_id?.user_id?.phon">+02 {{
                            keeperData?.owner_id?.user_id?.phone
                            }}</a>
                        </span></h6>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="p-2">
            <div class="row my-3">
              <div class="col-md-1 text-center">
                <i class="fa-regular fa-circle-user fs-2 text-secondary"></i>
              </div>
              <div class="col-md-11">
                <h3 class="fs-4">Introducing</h3>
                <p class="card-text text-secondary lh-base">
                  {{ keeperData?.description }}
                </p>
              </div>
            </div>
            <hr class="my-5">
            <div class="row my-3">
              <div class="col-md-1 text-center">
                <i class="fa-regular fa-file-lines fs-2 text-secondary"></i>
              </div>
              <div class="col-md-11">
                <h3 class="fs-4">Years of Experience</h3>
                <p class="card-text text-secondary lh-base">
                  {{ keeperData?.experience }} Years
                </p>
              </div>
            </div>
            <hr class="my-5">
            <div class="row my-3">
              <div class="col-md-1 text-center">
                <i class="fa-solid fa-money-bills fs-2 text-secondary"></i>
              </div>
              <div class="col-md-11">
                <h3 class="fs-4">Examination Price</h3>
                <p class="card-text text-secondary lh-base">
                  {{ keeperData?.cost | currency }}
                </p>
              </div>
            </div>

            <hr class="my-5">
            <div class="row my-3">
              <div class="col-md-1 text-center">
                <i class="fa-regular fa-calendar-check fs-2 text-secondary"></i>
              </div>
              <div class="col-md-11">
                <h3 class="fs-4">Book An Appointment</h3>
                <form [formGroup]="bookingFormGroup" class="pt-3"
                  *ngIf="keeperAppointments?.length > 0; else noAppointment">
                  <div class="row">
                    <!-- Pets -->
                    <div class="col-md-6">
                      <mat-form-field class="w-100 pb-3">
                        <mat-label>Pet</mat-label>
                        <mat-select formControlName="pet">
                          <mat-option *ngFor="let option of pets" [value]="option._id">
                            {{ option.name }}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="
                          bookingFormGroup.get('pet')?.invalid &&
                          bookingFormGroup.get('pet')?.touched &&
                          bookingFormGroup.get('pet')?.errors?.['required']">
                          Pet is required.
                        </mat-error>
                      </mat-form-field>
                    </div>

                    <!-- still need work //////////////////////////////////////////////////////-->
                    <div class="col-md-6">
                      <mat-form-field class="w-100 pb-3">
                        <mat-label>Appointment</mat-label>
                        <mat-select formControlName="appointment">
                          <!-- <mat-option *ngFor="let day of days" [value]="day | date:'yyyy-MM-dd'">
                              {{ day | date:'EEEE' }} - {{ day | date:'yyyy-MM-dd' }}
                            </mat-option> -->
                          <mat-option *ngFor="let day of keeperAppointments" [value]="day._id">
                            {{ day.start_time | date:'MMMM, dd' }} : {{ day.end_time | date:'MMMM, dd' }}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="
                          bookingFormGroup.get('appointment')?.invalid &&
                          bookingFormGroup.get('appointment')?.touched &&
                          bookingFormGroup.get('appointment')?.errors?.['required']">
                          Appointment is required.
                        </mat-error>
                      </mat-form-field>
                    </div>

                  </div>

                  <div class="text-end">
                    <button class="btn-green-solid" [disabled]="bookingFormGroup.invalid" (click)="submitForm()">
                      MAKE AN APPOINTMENT
                    </button>
                  </div>

                </form>

                <ng-template #noAppointment>
                  <div class="card border-0 position-sticky top-0 px-4" [ngClass]="{'sticky-element': isSticky}">
                    <p class="fs-5 lh-base text-danger">
                      <span class="text-capitalize">
                        You can't book an appointment right now
                      </span>
                    </p>
                  </div>
                </ng-template>

              </div>
            </div>

          </div>
        </div>
      </div>

    </div>

    <div class="col-md-4">
      <div *ngIf="keeperAppointments?.length > 0; else show" class="card border-0 position-sticky top-0 py-5 px-4"
        [ngClass]="{'sticky-element': isSticky}">
        <div class="text-center">
          <h3 class="fs-3 fw-normal">Working Hours</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, hic sunt. Quidem, dolore.</p>
        </div>
        <div>
          <ul class="list-group list-group-flush">
            <ng-container *ngFor="let day of keeperAppointments">
              <li class="list-group-item d-flex justify-content-center">
                <!-- {{ day.start_time | date:'EEEE' }} - {{ day.end_time | date:'EEEE' }}
                  <span>{{ day.start_time | date:'yyyy-MM-dd' }} - {{ day.end_time | date:'yyyy-MM-dd' }}</span> -->
                {{ day.start_time | date:'yyyy-MM-dd' }} : {{ day.end_time | date:'yyyy-MM-dd' }}
              </li>
            </ng-container>
          </ul>
        </div>
      </div>
      <ng-template #show>
        <div class="card border-0 position-sticky top-0 py-5 px-4" [ngClass]="{'sticky-element': isSticky}">
          <p class="text-center fs-4 lh-base text-danger">
            <span class="text-capitalize">
              {{ keeperData?.owner_id?.user_id?.firstName + " " + keeperData?.owner_id?.user_id?.lastName}}</span>
            isn't avaliable at this time.
          </p>
        </div>
      </ng-template>
    </div>

  </div>
</div>