<div class="container py-5">
  <div class="d-flex align-items-start">
    <button class="btn btn-link" (click)="previousDate()"><i class="fa-solid fa-arrow-left"></i></button>
    <h2>{{ getFormattedDate() | date:'MMMM, dd' }}</h2>
    <button class="btn btn-link" (click)="nextDate()"><i class="fa-solid fa-arrow-right"></i></button>
  </div>
  <div class="card-wrapper">
    <div class="row">
      <ng-container *ngFor="let booking of vetBookingData; let i = index">
        <div class="col-md-6 mb-3">
          <mat-card class="example-card">
            <mat-card-content>
              <div class="d-flex flex-column flex-sm-row w-100">
                <img class="mb-1" mat-card-lg-image [src]="booking?.userImage" alt="Angular Logo">
                <div class="ms-3 w-75">
                  <h2 class="text-capitalize mb-2 fs-4">
                    {{ booking?.owner_id?.user_id?.firstName }} {{ booking?.owner_id?.user_id?.lastName }}
                  </h2>
                  <ul class="list-group">
                    <li
                      class="list-group-item border-0 px-0 fs-6 py-1 fw-normal d-flex flex-wrap justify-content-between"
                      style="color: #989797;">
                      <span>Pet Name</span> {{ booking?.pet_id?.name }}
                    </li>
                    <li
                      class="list-group-item border-0 px-0 fs-6 py-1 fw-normal d-flex flex-wrap justify-content-between"
                      style="color: #989797;">
                      <span>Booking Time</span>
                      {{ booking?.appointment_id?.start_time | date: 'h:mm a' }}
                      : {{ booking?.appointment_id?.end_time | date: 'h:mm a' }}
                    </li>
                    <li
                      class="list-group-item border-0 px-0 fs-6 py-1 fw-normal d-flex flex-wrap justify-content-between"
                      style="color: #989797;">
                      <span>Phone Number</span>
                      {{ booking?.owner_id?.user_id?.phone }}
                    </li>
                    <li
                      class="list-group-item border-0 px-0 fs-6 py-1 fw-normal d-flex flex-wrap justify-content-between"
                      style="color: #989797;">
                      <span>Email</span>
                      {{ booking?.owner_id?.user_id?.email }}
                    </li>
                  </ul>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </ng-container>
    </div>
  </div>
</div>