<div class="container py-5">
  <div class="d-flex align-items-start">
    <form [formGroup]="form" class="pt-3">
      <!-- Day -->
      <mat-form-field class="w-100 pb-2">
        <mat-label>Day</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="day" required />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </form>
  </div>
  <h2 class="fs-3 text-center" *ngIf="ownerBookingData.length > 0">Vet Schedule</h2>
  <div class="card-wrapper">
    <div class="row" *ngIf="ownerBookingData.length > 0 || ownerBookingKeeperDay.length > 0; else noBooking">
      <!-- <div class="col-md-6" *ngIf="ownerBookingData.length > 0"
        [ngClass]="{'row': ownerBookingKeeperDay.length === 0, 'col-md-6': ownerBookingKeeperDay.length > 0}"> -->
      <div class="col-md-12" *ngIf="ownerBookingData.length > 0">
        <!-- [ngClass]="{'row': ownerBookingKeeperDay.length === 0, 'col-md-6': ownerBookingKeeperDay.length > 0}"> -->
        <div class="row">
          <ng-container *ngFor="let booking of ownerBookingData; let i = index">
            <div class="mb-3 col-md-6">
              <!-- [ngClass]="{'col-md-6': ownerBookingKeeperDay.length === 0, 'col-md-12': ownerBookingKeeperDay.length > 0}"> -->
              <mat-card class="example-card">
                <mat-card-content>
                  <div class="d-flex flex-column flex-sm-row w-100">
                    <img class="" mat-card-lg-image [src]="booking?.userImage" alt="Angular Logo">
                    <div class="ms-3 w-100">
                      <div class="d-flex  align-items-center">
                        <h2 class="text-capitalize mb-2 fs-4">
                          Dr. {{ booking?.vet_id?.user_id?.firstName }} {{ booking?.vet_id?.user_id?.lastName }}
                        </h2>

                      </div>
                      <div>
                        <div class="my-1 ">
                          <p class="text-green fw-semibold ">Pet Name: <span class="text-p fw-bold">{{
                              booking?.pet_id?.name}}</span>
                          </p>
                        </div>
                        <div class="my-1">
                          <p class="text-green fw-semibold">Booking Time:
                            <span class="text-p fw-bold">
                              {{ booking?.appointment_id?.start_time }}
                              : {{ booking?.appointment_id?.end_time }}
                            </span>
                          </p>
                        </div>
                        <div class="my-1">
                          <p class="text-green fw-semibold">Phone Number:
                            <span class="text-p fw-bold">

                              {{ booking?.vet_id?.user_id?.phone }}
                            </span>

                          </p>
                        </div>
                        <div class="my-1">
                          <p class="text-green fw-semibold">Email:
                            <span class="text-p fw-bold">
                              {{ booking?.vet_id?.user_id?.email }}

                            </span>
                          </p>
                        </div>
                      </div>
                      <button class="btn-orange-solid float-end" (click)="deleteBooking(booking, i)">
                        delete
                      </button>

                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </ng-container>
        </div>
      </div>
      <h2 class="fs-3 text-center my-3" *ngIf="ownerBookingKeeperDay.length > 0">Keeper Schedule</h2>
      <div *ngIf="ownerBookingKeeperDay.length > 0" class="col-md-12">
        <!-- [ngClass]="{'row': ownerBookingData.length === 0, 'col-md-6': ownerBookingData.length > 0}"> -->
        <!-- <h2 class="fs-3">Keeper Schedule</h2> -->
        <div class="row">
          <ng-container *ngFor="let booking of ownerBookingKeeperDay; let i = index">
            <div class="mb-3 col-md-6">
              <!-- [ngClass]="{'col-md-6': ownerBookingData.length === 0, 'col-md-12': ownerBookingData.length > 0}"> -->
              <mat-card class="example-card">
                <mat-card-content>
                  <div class="d-flex flex-column flex-sm-row w-100">
                    <img class="" mat-card-lg-image [src]="booking?.userImage" alt="Angular Logo">
                    <div class="ms-3 w-100">
                      <div class="d-flex  align-items-center">
                        <h2 class="text-capitalize mb-2 fs-4">
                          {{ booking?.owner_id?.user_id?.firstName }} {{ booking?.owner_id?.user_id?.lastName }}
                        </h2>

                      </div>
                      <div>
                        <div class="my-1 ">
                          <p class="text-green fw-semibold ">Pet Name: <span class="text-p fw-bold">
                              {{ booking?.pet_id?.name }}
                            </span>
                          </p>
                        </div>
                        <div class="my-1">
                          <p class="text-green fw-semibold">Booking Time:
                            <span class="text-p fw-bold">
                              {{ booking?.appointment_id?.start_time | date: 'MMMM, dd' }}
                              : {{ booking?.appointment_id?.end_time | date: 'MMMM, dd' }}
                            </span>
                          </p>
                        </div>
                        <div class="my-1">
                          <p class="text-green fw-semibold">Phone Number:
                            <span class="text-p fw-bold">

                              {{ booking?.keeper_id?.owner_id?.user_id?.phone }}
                            </span>

                          </p>
                        </div>
                        <div class="my-1">
                          <p class="text-green fw-semibold">Email:
                            <span class="text-p fw-bold">
                              {{ booking?.keeper_id?.owner_id?.user_id?.email }}

                            </span>
                          </p>
                        </div>
                      </div>
                      <button class="btn-orange-solid float-end" (click)="deleteBooking(booking, i)">
                        delete
                      </button>

                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <ng-template #noBooking>
      <div class="card border-0 p-4">
        <p class="fs-5 lh-base text-danger">
          <span class="text-capitalize">
            There is No Booking
          </span>
        </p>
      </div>
    </ng-template>
  </div>
</div>