<!-- footer -->
<footer class="bg-dark text-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <img src="../../../assets/images/landing/logo.png" alt="Footer Logo">

      </div>
      <div class="col-lg-4">
        <h5 class="text-orange fs-5">Contact</h5>
        <ul class="list-unstyled">
          <li>Address: 123 Street, City, Country</li>
          <li>Phone: 123-456-7890</li>
          <li>Email: petez@example.com</li>
        </ul>
      </div>
      <div class="col-lg-4">
        <h5 class="text-orange fs-5">Follow Us</h5>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="text-center">

      <p>&copy; 2023 Your Website. All rights reserved.</p>
    </div>
  </div>
</footer>
