<form (ngSubmit)="onSubmit()" class="card w-50 mx-auto p-5 my-5">
  <h1 class="text-center pb-3">Edit Your Profile</h1>
  <div class="row">
    <!-- User fields -->
    <mat-form-field class="col-6 my-1">
      <mat-label>First Name</mat-label>
      <input matInput placeholder="First Name" [(ngModel)]="vet?.user_id.firstName" name="firstName">
    </mat-form-field>
    <mat-form-field class="col-6 my-1">
      <mat-label>Last Name</mat-label>
      <input matInput placeholder="Last Name" [(ngModel)]="vet?.user_id.lastName" name="lastName">
    </mat-form-field>
    <mat-form-field class="col-12 my-1">
      <mat-label>Email</mat-label>
      <input matInput disabled [(ngModel)]="vet.user_id.email" name="email">
    </mat-form-field>
    <mat-form-field class="col-6 my-1">
      <mat-label>Phone</mat-label>
      <input matInput placeholder="Phone" [(ngModel)]="vet?.user_id.phone" name="phone">
    </mat-form-field>
    <mat-form-field class="col-6 my-1">
      <mat-label>Gender</mat-label>
      <mat-select [(ngModel)]="vet?.user_id.gender" name="gender">
        <mat-option value="male">Male</mat-option>
        <mat-option value="female">Female</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- Vet fields -->

    <mat-form-field class="col-6 my-1">
      <mat-label>Experience</mat-label>
      <input matInput type="number" placeholder="Experience" [(ngModel)]="vet.experience" name="experience">
    </mat-form-field>
    <mat-form-field class="col-6 my-1">
      <mat-label>Cost</mat-label>
      <input matInput type="number" placeholder="Cost" [(ngModel)]="vet.cost" name="cost">
    </mat-form-field>
    <mat-form-field class="col-12 my-1">
      <mat-label>Address</mat-label>
      <input matInput placeholder="Cost" [(ngModel)]="vet.address" name="address">
    </mat-form-field>
    <mat-form-field class="col-12 my-1">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Description" [(ngModel)]="vet.description" name="description"></textarea>
    </mat-form-field>
    <mat-form-field class="col-12 my-1">
      <mat-label>Image</mat-label>
      <button mat-icon-button class="icon" matSuffix (click)="onUserImageClick($event)">
        <mat-icon>folder_open</mat-icon>
      </button>
      <input type="text" readonly matInput name="image" />
      <input type="file" hidden #hiddenInput (change)="onUserImageChange($event)" accept="image/*" />
      <img *ngIf="vetImage" [src]="vetImage" alt="Vet Image" class="vet-image" width="200px" height="200px" />
    </mat-form-field>


  </div>

  <!-- Submit button -->
  <div class="d-flex justify-content-end">
    <button mat-raised-button class="btn-green-solid " style="width: 150px;" type="submit">Update</button>
  </div>

</form>